@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Colors =============================================== */
$colors: (
  bgColor: #ecf0f1,
  black: #000,
  white: #fff,
  gray: (
    100: #333,
    200: #4f4f4f,
    300: #828282,
    400: #bdbdbd,
    500: #f5f5f5
  ),
  primary: (
    100: #14212d,
    200: #4869ee,
    300: #778ff2,
    400: #1ec0f0
  ),
  accent: (
    100: #a83482,
    200: #c7489d,
    300: #d36fb2,
    400: #d93d0e
  )
);
/* Fonts =============================================== */
$fonts: (
  lineHeight: 1.5,
  rootSize: 16px,
  family: 'Roboto' unquote(',') sans-serif,
  sizes: (
    100: 0.75rem,
    200: 1rem,
    300: 1.25rem,
    400: 1.5rem,
    500: 2rem,
    600: 2.4rem,
    700: 3rem
  ),
  weight: (
    light: 300,
    normal: 400,
    bold: 700
  )
);
$spacing: (
  small: 0.5rem,
  meduim: 1.25rem,
  large: 2rem
);
