:host {
  position: relative;
}
.container {
  display: grid;
  grid-template-columns: 6fr minmax(25rem, 1fr);
  gap: 3rem;
  width: 100%;
  &.full-width {
    grid-template-columns: 1fr;
  }
}

.docs-markdown {
  min-width: 0;
  max-width: 100%;
}

.right-panel {
  position: sticky;
  height: fit-content;
  top: 8rem;
}
