:host {
  position: relative;
}
.container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 2.5rem;
  width: 100%;
  &.full-width {
    grid-template-columns: 1fr;
  }
}
.docs-markdown {
  padding: 3rem;
  box-shadow: var(--card-box-shadow);
  background: #fff;
  border-radius: 0.4rem;
}
