/* Colors =============================================== */
$color: #333 !default;
$lineHeight: 1.5 !default;
$fontWeight: normal !default;
$fontFamily: sans-serif !default;
$fontSize: 16px !default;
