:host {
  display: block;
  position: sticky;
  top: 9rem;
  height: fit-content;
}
nav {
  padding: 0;
  padding-left: 1rem;
  border-left: 0.4rem solid var(--primary-color);
}
.subheading {
  padding-left: 1.5rem;
}
