:host {
  height: 100%;
  width: 100%;
}

.sidenav {
  width: 27.5rem;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.page-title {
  overflow: hidden;
  text-overflow: ellipsis;
}
.container {
  padding: 2.5rem 3rem;
}
