:host {
  display: block;
  padding: 2rem;
  background: var(--primary-color);
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #fff;
}
a {
  color: #fff;
}
ngaox-icon {
  width: 2rem;
  height: 2rem;
}
