:host {
  z-index: 10;
}
.ngaox-logo {
  margin-right: 20px;
  cursor: pointer;
  user-select: none;
  img {
    margin: 0 5px 0 0;
    height: 40px;
    vertical-align: middle;
  }
}
.fill-remaining-space {
  flex: 1 1 auto;
}
.github-icon {
  width: 25px;
  margin: 0 0 2px 0;
}
