/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}
:root {
  font-size: 10px;
  --bg-color: #fafafa;
  --primary-color: #3f51b5;
  --brand-color: #2d9cdb;
  --card-box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024,
    0 1px 3px #0000001f;
  --text-color: #212121;
  --text-color-mute: #757575;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
  background: var(--bg-color);
}
svg {
  vertical-align: middle;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.section-title {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: -0.5rem;
  font-weight: 500;
  color: var(--text-color);
}
.nav-link {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  color: var(--text-color-mute);
  &:hover {
    color: var(--text-color);
  }
  &.active,
  .active & {
    color: var(--brand-color);
  }
}
.height-full {
  height: 100%;
}
.min-height-full {
  min-height: 100%;
}
.rotate-90 {
  transform: rotate(90deg);
}
.-rotate-90 {
  transform: rotate(-90deg);
}
.docs-markdown {
  > :first-child {
    margin-top: 0;
  }
  h1 {
    font-size: 34px;
    font-weight: 400;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h2,
  h4 {
    margin-top: 25px;
  }

  h5 {
    font-size: 18px;
  }

  p,
  ul,
  ol {
    font-size: 16px;
    line-height: 28px;
  }

  a {
    text-decoration: none;
  }

  pre {
    border-radius: 5px;
    display: block;
    margin: 16px auto;
    overflow-x: auto;
    padding: 20px;
    white-space: pre-wrap;

    code {
      padding: 0;
      font-size: 100%;
    }
  }

  :not(pre) > code,
  :not(pre) > kbd,
  :not(pre) > samp {
    font-family: Consolas, monaco, monospace;
    font-size: 1.35rem;
    color: #3f51b5;
    white-space: nowrap;
    padding: 2px 6px;
    background: #f5f5f5;
  }
}
