/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}
:root {
  font-size: 10px;
  --bg-color: #fafafa;
  --primary-color: #3f51b5;
  --brand-color: #2d9cdb;
  --card-box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024,
    0 1px 3px #0000001f;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
  background: var(--bg-color);
}
svg {
  vertical-align: middle;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.height-full {
  height: 100%;
}
.min-height-full {
  min-height: 100%;
}
.rotate-90 {
  transform: rotate(90deg);
}
.-rotate-90 {
  transform: rotate(-90deg);
}
