/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}
:root {
  --primary-color: #3f51b5;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
svg {
  vertical-align: middle;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.height-full {
  height: 100%;
}
.min-height-full {
  min-height: 100%;
}
