:host {
  display: block;
  padding: 2rem;
}

.section {
  margin-bottom: 2rem;

  .section-title {
    font-size: 1.7rem;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      border-left: 2px solid;
      line-height: 2;
      width: 100%;
      &:not(.active) {
        border-left-color: #eee;
      }
      > a {
        width: 100%;
        font-size: 1.6rem;
        padding-left: 1.5rem;
      }
    }
  }
}
