.accordion-item {
  --border-color: rgba(0, 0, 0, 0.5);
  &.active {
    --border-color: rgba(255, 64, 129, 0.5);
  }
}
a.active {
  color: #ff4081;
}
.nested-items-icon {
  color: var(--border-color);
  width: 15px;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.accordion-item-header {
  font-size: 1.6rem;
  padding: 16px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  border-left: 5px solid var(--border-color);
  &:hover {
    cursor: pointer;
    background-color: #eee;
  }
}
.accordion-item-body {
  border-left: 20px solid var(--border-color);
  overflow: hidden;
}
