@use "sass:math";
@use "sass:map";
@use '../variables' as vars;

// Scrollbar variables
$scrollbar-width: 1rem !default;
$scrollbar-thumb-color: #bbb !default;
// Root variables
$root-bgColor: map.get(vars.$colors, bgColor);
$root-color: map.get(vars.$colors, gray, 200);
$root-fontFamily: map.get(vars.$fonts, family);
$root-fontSize: map.get(vars.$fonts, rootSize);
$root-fontWeight: normal !default;
// Selection variables
// $selection-background: map.get(vars.$colors, accent, 200);
// $selection-color: map.get(vars.$colors, white);

$list-paddingLeft: map.get(vars.$spacing, large);
$margin-vertical: map.get(vars.$spacing, meduim);
/* code - pre */
$code-fontSize: 0.85rem;
$code-color: map.get(vars.$colors, accent, 400);
$pre-color: map.get(vars.$colors, gray, 100);
$code-background: map.get(vars.$colors, gray, 500);
$pre-padding: map.get(vars.$spacing, meduim);

*::-webkit-scrollbar {
  width: var(--scrolBar-width);
  height: var(--scrolBar-width);
}
*::-webkit-scrollbar-thumb {
  background-color: $scrollbar-thumb-color;
  border-radius: calc(var(--scrolBar-width) / 2);
  border: calc(var(--scrolBar-width) / 3) solid transparent;
  background-clip: content-box;
  &:hover {
    background-color: darken($color: $scrollbar-thumb-color, $amount: 20);
  }
}

/*
 * Set `font-size` so I can use rem `units`
 * Styles for the page
 */
html {
  --scrolBar-width: #{$scrollbar-width};
  background-color: $root-bgColor;
  color: $root-color;
  font-family: $root-fontFamily;
  font-size: $root-fontSize;
  font-weight: $root-fontWeight;
}

/* add selection style to all elements */
// ::selection {
//   background: $selection-background;
//   color: $selection-color;
//   text-shadow: none;
// }

p,
ul,
ol,
dl,
pre,
address,
fieldset,
figure,
blockquote {
  &:not(:first-child) {
    margin-top: $margin-vertical;
  }
  &:not(:last-child) {
    margin-bottom: $margin-vertical;
  }
}

/* Lists */
ul,
ol {
  padding-left: $list-paddingLeft;
  & li > a + &:first-of-type {
    margin-top: 0;
  }
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
canvas,
img,
video {
  max-width: 100%;
  height: auto;
}

/* code */
:not(pre) > code,
:not(pre) > kbd,
:not(pre) > samp {
  font-family: Consolas, monaco, monospace;
  font-size: $code-fontSize;
  color: $code-color;
  white-space: nowrap;
  padding: 2px 6px;
  background: $code-background;
}

pre {
  font-size: $code-fontSize;
  font-family: Consolas, monaco, monospace;
  color: $pre-color;
  tab-size: 4;
  overflow: auto;
  padding: $pre-padding;
  background: $code-background;
  code {
    font-family: Consolas, monaco, monospace;
  }
  --scrolBar-width: #{$code-fontSize};
}
