@use './variables';

$scrollbar-width: 15px;
$scrollbar-thumb-color: #bbb;

*::-webkit-scrollbar {
  width: $scrollbar-width;
  height: $scrollbar-width;
}
*::-webkit-scrollbar-thumb {
  background-color: $scrollbar-thumb-color;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  &:hover {
    background-color: darken($color: $scrollbar-thumb-color, $amount: 20);
  }
}
