@use "sass:math";
@use "sass:map";
@use '../variables' as vars;

// Scrollbar variables
$scrollbar-width: 1rem !default;
$scrollbar-thumb-color: #bbb !default;
// Root variables
$root-bgColor: map.get(vars.$colors, bgColor);
$root-color: map.get(vars.$colors, gray, 200);
$root-fontFamily: map.get(vars.$fonts, family);
$root-fontSize: map.get(vars.$fonts, rootSize);
$root-fontWeight: normal !default;
// Selection variables
// $selection-background: map.get(vars.$colors, accent, 200);
// $selection-color: map.get(vars.$colors, white);

$list-paddingLeft: map.get(vars.$spacing, large);
$margin-vertical: map.get(vars.$spacing, meduim);

*::-webkit-scrollbar {
  width: $scrollbar-width;
  height: $scrollbar-width;
}
*::-webkit-scrollbar-thumb {
  background-color: $scrollbar-thumb-color;
  border-radius: math.div($scrollbar-width, 2);
  border: math.div($scrollbar-width, 4) solid transparent;
  background-clip: content-box;
  &:hover {
    background-color: darken($color: $scrollbar-thumb-color, $amount: 20);
  }
}

/*
 * Set `font-size` so I can use rem `units`
 * Styles for the page
 */
html {
  background-color: $root-bgColor;
  color: $root-color;
  font-family: $root-fontFamily;
  font-size: $root-fontSize;
  font-weight: $root-fontWeight;
}

/* add selection style to all elements */
// ::selection {
//   background: $selection-background;
//   color: $selection-color;
//   text-shadow: none;
// }

p,
ul,
ol,
dl,
pre,
address,
fieldset,
figure,
blockquote {
  &:not(:first-child) {
    margin-top: $margin-vertical;
  }
  &:not(:last-child) {
    margin-bottom: $margin-vertical;
  }
}

/* Lists */
ul,
ol {
  padding-left: $list-paddingLeft;
}

// correct some browsers default display
details,
main {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}
