// Default styling for HTML elements
//
// Components:     `link` (`a` tag)
//                 `h1` `h2` `h3` `h4` `h5` `h6`
//
// Html tags:      hr - h1 h2 h3 h4 h5 h6
//                 abbr[title] b/strong em q small sub sup blockquote
//
// ========================================================================
@use '../variables';
@use 'sass:map';

/* Variables
 ========================================================================== */
$link-color: map.get(variables.$colors, primary, 200);
$link-hover-color: map.get(variables.$colors, primary, 300);
$margin-vertical: map.get(variables.$spacing, meduim);
$heading-color: map.get(variables.$colors, gray, 100);
$fontBold: map.get(variables.$fonts, weight, bold);
$h1-fontSize: map.get(variables.$fonts, sizes, 700);
$h1-color: map.get(variables.$colors, primary, 100);
$h2-fontSize: map.get(variables.$fonts, sizes, 600);
$h3-fontSize: map.get(variables.$fonts, sizes, 500);
$h4-fontSize: map.get(variables.$fonts, sizes, 400);
$h5-fontSize: map.get(variables.$fonts, sizes, 300);
$h6-fontSize: map.get(variables.$fonts, sizes, 200);
$em-color: map.get(variables.$colors, accent, 400);
$blockquote-fontSize: map.get(variables.$fonts, sizes, 300);
$blockquote-padding: map.get(variables.$spacing, small);
$blockquote-footerColor: map.get(variables.$colors, gray, 300);
$hr-color: map.get(variables.$colors, primary, 300);

/* Links
 ========================================================================== */
a,
.link {
  color: $link-color;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

/* Headings
 ========================================================================== */
// prettier-ignore
h1, h2, h3, h4,
.h1, .h2, .h3, h4 {
  line-height: 1.1;
}
// prettier-ignore
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: $fontBold;
  color: $heading-color;
  text-transform: none;
  &:not(:first-child) {
    margin-top: $margin-vertical;
  }
  &:not(:last-child) {
    margin-bottom: $margin-vertical;
  }
}
h1,
.h1 {
  font-size: $h1-fontSize;
  color: $h1-color;
}
h2,
.h2 {
  font-size: $h2-fontSize;
}
h3,
.h3 {
  font-size: $h3-fontSize;
}
h4,
.h4 {
  font-size: $h4-fontSize;
}
h5,
.h5 {
  font-size: $h5-fontSize;
}
h6,
.h6 {
  font-size: $h6-fontSize;
}

/* Other typography tags
 ========================================================================== */
em {
  font-style: italic;
  color: $em-color;
}
q {
  font-style: italic;
}

/* Blockquote */
blockquote {
  border-left: $blockquote-padding solid mix($em-color, #00000000, 60%);
  font-size: $blockquote-fontSize;
  font-style: italic;
  padding: $blockquote-padding;
  padding-left: $blockquote-padding * 3;
  > p:last-of-type {
    margin-bottom: 0;
  }
  footer {
    margin-top: $blockquote-padding;
    font-size: 75%;
    color: $blockquote-footerColor;
    text-align: right;
    &::before {
      content: '— ';
    }
  }
}

// Horizontal line
hr {
  text-align: inherit;
  margin: $margin-vertical * 1.5 0;
  border: 0;
  border-top: 3px solid mix($hr-color, #00000000, 60%);
}
