<form [formGroup]="group" style="padding: 50px">
  <input type="text" formControlName="username" />
  {{ username?.errors | json }}
</form>
<br /><br />
<div class="container">
  <!-- nav / navbar -->
  <nav><a href="#">fd</a> | <a href="#">dsf</a> |</nav>
  <nav>
    <ul class="nav-center">
      <li routerLinkActive="active"><a routerLink="/padup/item1">Active</a></li>
      <li routerLinkActive="active"><a routerLink="/padup/item2">Item</a></li>
      <li class="nav nav-accordion" routerLinkActive="active">
        <a class="nav-parent" routerLink="/padup/list-parent">Parent Item</a>
        <ul>
          <li>
            <a routerLinkActive="active" routerLink="/padup/item3"
              >Child Item</a
            >
          </li>
          <li>
            <a routerLinkActive="active" routerLink="/padup/item4"
              >Parent/Child Item</a
            >
          </li>
          <ul class="nav">
            <li>
              <a routerLinkActive="active" routerLink="/padup/item5"
                >Child Item</a
              >
            </li>
            <li>
              <a routerLinkActive="active" routerLink="/padup/item6"
                >Child Item</a
              >
            </li>
          </ul>
        </ul>
      </li>
    </ul>
  </nav>
  <br />
  <!-- Overlay  -->
  <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 20px">
    <div class="overlay">
      <div class="title">Overlay Title</div>
      <div style="padding: 20px">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, cumque
        incidunt in iure molestias odit sequi saepe, fugiat natus optio ab?
        Totam aut debitis eius. Iste inventore unde sed quae.
      </div>
      <div class="action">Action name</div>
    </div>
    <div class="overlay">
      <div style="padding: 20px">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, cumque
        incidunt in iure molestias odit sequi saepe, fugiat natus optio ab?
        Totam aut debitis eius. Iste inventore unde sed quae.
      </div>
      <div class="action">Action name</div>
    </div>
    <div class="overlay">
      <div class="title">Overlay Title</div>
      <div style="padding: 20px">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, cumque
        incidunt in iure molestias odit sequi saepe, fugiat natus optio ab?
        Totam aut debitis eius. Iste inventore unde sed quae.
      </div>
    </div>
  </div>
  <br />
  <!-- Buttons  -->
  <div>
    <button>Click!</button>
    <br />
    <br />
    <div class="button-group">
      <button class="button" disabled>Click Disabled!</button>
      <button>Click!</button>
      <button class="button-primary">Click!</button>
      <button class="button-secondary">Click!</button>
      <button class="button-danger">Click!</button>
    </div>
    <br />
    <br />
    <button class="button-small">Click!</button>
    <button>Click!</button>
    <button class="button-large">Click!</button>
    <br />
    <br />
    <a class="button-text">Click!</a>, <a class="button-link">Click!</a>,
    <button class="button-link" disabled>Disabled!</button>,
    <button class="button-text">Click!</button>
  </div>
</div>
