<div class="container">
  <div>
    <table>
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Age</th>
        </tr>
      </thead>
      <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
      </tr>
    </table>
    <hr />
    <p>
      <abbr title="Abbr title">abbr element with a title</abbr>
      Lorem <sub>Sub text</sub> dolor sit, amet <a>consectetur</a> adipisicing
      elit. <b>b/strong text</b> Adipisci possimus et <sup>Sup text</sup> omnis
      deserunt? <a>Voluptatum laborum</a> rerum placeat illo
      <em>em content</em> quia modi <small>this is small</small> expedita.
      <q>Lorem ipsum dolor sit amet.</q>
    </p>
    <blockquote cite="#">
      <p>
        For 50 years, WWF has been protecting the future of nature. The world's
        leading conservation organization, WWF works in 100 countries and is
        supported by 1.2 million members in the United States and close to 5
        million globally.
      </p>
      <footer>
        WHO in <cite><a href="#">Source</a></cite>
      </footer>
    </blockquote>
    <hr />
  </div>
</div>
