import { NgModule } from '@angular/core';
import { SeoModule } from '@ngaox/seo';
import { <%= classify(name) %>SeoDefaults } from './<%= dasherize(name) %>-seo.defaults';
import { <%= classify(name) %>SeoLaoder } from './<%= dasherize(name) %>-seo.laoder';

@NgModule({
    imports: [
        SeoModule.forRoot(<%= classify(name) %>SeoDefaults, <%= classify(name) %>SeoLaoder)
    ],
    exports: [ SeoModule ]
})
export class <%= classify(name) %>SeoModule { }
