:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  max-width: 92rem;
  margin: 3.2rem auto;
  gap: 2rem;
  &.reverse {
    flex-direction: row-reverse;
  }
  .text-container,
  .image {
    max-width: 50%;
  }
  .image img {
    max-width: 100%;
  }
  .text-container {
    .text-headline {
      color: var(--brand-color);
      font-size: 2.25rem;
      font-weight: 500;
      margin: 1rem 0 1.6rem;
      line-height: 2.8rem;
    }
    .text-body {
      font-size: 1.6rem;
      line-height: 3.2rem;
      font-weight: 400;
      margin: 0 0 1.2rem;
    }
  }
  @media (max-width: 768px) {
    display: block;
    text-align: center;
    max-width: 50rem;
    .text-container,
    .image {
      max-width: 100%;
    }
    .text-container {
      .text-headline {
        font-size: 2rem;
      }
      .text-body {
        font-size: 1.5rem;
        line-height: 2.7rem;
      }
    }
  }
}
