name: Build & Deploy Templates
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'templates/**'
jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'yarn'
      - name: Build templates
        run: |
          for dir in templates/*; do
            if [ -d "$dir" ]; then
              cd "$dir"
              yarn
              yarn build
              cd ../..
            fi
          done
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_NGAOX_LAB }}'
          projectId: ngaox-lab
          channelId: live
          entryPoint: templates
