// The margin between two sections
.hero-section {
  position: relative;
  padding: 40px;
  min-height: 500px;
  display: flex;
  color: #fff;

  &::before {
    content: '';
    position: absolute;
    background: var(--primary-color);
    height: 100%;
    z-index: -1;
    width: calc(50% + 100px);
    left: 0;
    top: 0;
    border-radius: 0 0px 65% 0;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    align-content: center;
    justify-content: center;
    justify-items: center;
  }

  img {
    max-width: 100%;
    max-height: 400px;
  }

  .header-section {
    h1 {
      font-size: 56px;
      font-weight: bold;
      line-height: 60px;
      margin: 15px 0;
    }

    h2 {
      font-size: 20px;
      font-weight: 300;
      line-height: 28px;
      margin: 15px 0 25px 0;
      max-width: 35ch;
    }
    // .docs-button {}
  }
  @media (max-width: 768px) {
    &::before {
      width: 100%;
      height: 75%;
    }
    .container {
      grid-template-columns: 1fr;
      border-radius: 0 0px 75% 0;
    }
    .docs-button {
      float: right;
    }
  }
}
