.hero-section {
  text-align: center;
  padding: 40px 20px;
  min-height: 500px;
  background: linear-gradient(
    45deg,
    var(--brand-color) 10%,
    var(--primary-color) 90%
  );
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 56px;
    font-weight: bold;
    line-height: 60px;
    margin: 15px 0;
    padding: 0 20px;
    max-width: 25ch;
    @media (max-width: 768px) {
      font-size: 40px;
      line-height: 45px;
    }
    @media (max-width: 480px) {
      font-size: 30px;
      line-height: 35px;
    }
  }
  h3 {
    margin: 15px 0 25px 0;
    max-width: 120ch;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
  .main-buttons {
    display: flex;
    gap: 10px;
  }
}
.features-section {
  padding: 0 2rem;
  .feature-card {
    cursor: pointer;
    padding: 1.6rem 2.5rem;
    border-radius: 0.5rem;
    &:hover {
      background-color: #fff;
      box-shadow: var(--card-box-shadow);
    }
  }
}
